:root {
    --primary-color: #c7d2dc;
    --secondary-color: #1b263b;
    --highlight-color: #b71c1c;
    --text-color: rgb(0, 0, 0);
    --background-color: #ffffff;
    --hover-background-color: #f5f5f5;
    --hover-text-color: black;
    --font-family: Arial, Helvetica, sans-serif;
    --border-radius: 5px;
    --padding: 15px;
    --transition-duration: 0.3s;
    --header-height: 50px;
    --header-padding: 15px 30px;
    --card-height: 40vh;
    --card-padding: 20px;
    --card-border-radius: 10px;
    --card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --card-hover-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    --btn-width: 150px;
    --btn-height: 50px;
    --btn-border-radius: 0.5em;
    --btn-padding-left: 15px;
    --btn-box-shadow: 0 0 10px rgba(var(--color), 0.5);
    --btn-hover-box-shadow: 0 0 0 5px rgba(var(--color), 0.4);
    --btn-hover-width: 170px;
    --table-padding: 15px;
    --table-font-size: 28px;
    --table-border-bottom: 1px solid #ddd;
    --table-hover-background-color: var(--hover-background-color);
    --table-hover-color: var(--hover-text-color);
    --table-hover-font-weight: bold;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-x: hidden;
    background: var(--primary-color);
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: var(--padding);
}

.filter-toggle {
    position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
}

.filter-toggle img {
    width: 80px;
    height: 80px;
    filter: invert(1);
}

.close-toggle {
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
}

.close-toggle img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.back-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.back-toggle img {
    width: 30px;
    height: 30px;
}

.internships {
    flex: 1;
    padding: var(--padding);
}

.internships h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
}

.internships p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.search {
    margin: 20px 0;
    text-align: center;
}

.search input[type="text"] {
    width: 80%;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 1000px;
    outline: none;
    font-size: 20px;
    height: 30px;
    margin-top: 20px;
}

.form-container {
    width: 90%;
    margin: 20px auto;
    background-color: var(--primary-color);
    padding: var(--padding);
}

.form-container h1 {
    text-align: start;
    font-size: 45px;
    margin-bottom: 20px;
}

.form-container h1 span {
    color: var(--highlight-color);
    font-weight: bold;
}

.form-group {
    margin-bottom:40px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 16px;
    transition: border-color var(--transition-duration) ease-in-out;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: var(--highlight-color);
    outline: none;
}

.form-group input[type="checkbox"] {
    width: auto;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    padding: 16px 28px;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 20px;
    transition: background-color var(--transition-duration) ease-in-out;
}

.form-group button:hover {
    background-color: #ff0000;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 5px;
    margin-top: 50px;
    transition: grid-template-columns var(--transition-duration) ease;
}

.card {
    position: relative;
    height: var(--card-height);
    background-color: var(--background-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    transition: transform 0.6s ease, box-shadow 0.3s ease, opacity 2s ease;
    box-shadow: var(--card-box-shadow);
    opacity: 0;
    transform: translate(40px);
}

.card.show {
    opacity: 1;
    transform: translate(0);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: var(--card-hover-box-shadow);
}

.card h1 {
    text-align: start;
    font-size: 40px;
    margin: 20px 0;
}

.card p {
    text-align: start;
    font-size: 13px;
    color: #d0d0d0;
    margin-top: 10px;
}

.btn-class-name {
    --color: 164, 22, 26;
    width: var(--btn-width);
    height: var(--btn-height);
    position: absolute;
    bottom: 20px;
    border-radius: var(--btn-border-radius);
    transition: var(--transition-duration);
    background-color: rgba(var(--color), 0.8);
    color: black;
    fill: rgb(var(--color));
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: var(--btn-box-shadow);
    outline: none;
    display: flex;
    align-items: center;
    padding-left: var(--btn-padding-left);
}

.btn-class-name:hover {
    box-shadow: var(--btn-hover-box-shadow);
    width: var(--btn-hover-width);
}

.btn-class-name span {
    transform: scale(0.8);
    transition: var(--transition-duration);
}

.btn-class-name:hover span {
    transform: scale(0.95);
}

.btn-class-name svg {
    font-size: 0;
    transform: scale(0.5) translateX(0%) rotate(-180deg);
    transition: var(--transition-duration);
}

.btn-class-name:hover svg {
    font-size: 20px;
    transform: scale(1) translateX(20%) rotate(0deg);
    fill: black;
}

.btn-class-name:active {
    transition: 0s;
    box-shadow: 0 0 0 4px rgb(var(--color));
}

.filters {
    display: none;
    flex: 0.25;
    padding: var(--padding);
    background-color: #424242;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    animation: slideIn var(--transition-duration) forwards;
    padding: 10px 20px;
}

.filters .filter {
    margin-bottom: 15px;
}

.filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-size: 18px;
}

.filter-title i {
    transition: transform var(--transition-duration) ease;
}

.filter-title.active i {
    transform: rotate(180deg);
}

.filter-content {
    display: none;
    padding: 10px;
    background-color: #424242;
    border-radius: var(--border-radius);
    margin-top: 5px;
}

.filter-content label {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color);
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        height: 30vh;
    }
    .filters {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding-top: 80px;
    }
    .back-toggle {
        display: block;
    }
}

/* Dashboard specific styles */


.dashboard h1 {
    text-align: center;
    margin: 60px 0 100px 0;
    font-size: 85px;
}

.histogram {
    width: 50%;
    height: 300px;
    background-color: #393c4f;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
    margin: 80px auto 0 auto;
    transition: all var(--transition-duration) ease;
    cursor: pointer;
    position: relative;
    padding-top: 100px;
    margin-bottom: 50px;
}

.histogram div {
    width: 40px;
    background: linear-gradient(to bottom, #ff0000, #450a0a);
    transition: height var(--transition-duration) ease;
}

.histogram h1 {
    position: absolute;
    top: -5%;
}

.histogram div:hover {
    height: 100%;
}

.view-analytics {
    margin-top: 20px;
    text-align: center;
    font-size: 40px !important;
    color: var(--text-color);
}

.search-add {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-add input[type="text"] {
    width: 90%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.add-new-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: right;
    margin-left: 60px;
    text-decoration: underline;
}

.table-container {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

table th, table td {
    padding: var(--table-padding);
    text-align: left;
    border-bottom: var(--table-border-bottom);
}

table td{
    font-size: 20px;
}

table th {
    background-color: var(--background-color);
    color: var(--highlight-color);
    font-size: var(--table-font-size);
}

table tr {
    color: var(--text-color);
    transition: color var(--transition-duration) ease, background-color var(--transition-duration) ease, font-weight var(--transition-duration) ease;
}

table tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
}

table td a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    transition: color var(--transition-duration) ease, font-weight var(--transition-duration) ease;
}

table td a:hover {
    text-decoration: underline;
}

table tr:hover td a {
    color: var(--table-hover-color);
    font-weight: var(--table-hover-font-weight);
}

.actions-header {
    text-align: right;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    background-color: #4caf50;
    color: var(--text-color);
}

.view-btn {
    background-color: #2196f3;
    color: var(--text-color);
}

.delete-btn {
    background-color: #f44336;
    color: var(--text-color);
}

.close-btn {
    background-color: #ff9800;
    color: var(--text-color);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
    background-color: var(--primary-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header img {
    height: var(--header-height);
    cursor: pointer;
}
.header .logo {
    flex: 0 1 auto;
}
.header .categories {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: var(--padding) 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header .categories a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    padding: var(--padding) 30px;
    transition: color var(--transition-duration) ease;
}
.header .categories a:hover {
    color: #61dafb;
}
.header .profile {
    position: relative;
    display: inline-block;
}
.header .profile img {
    height: var(--header-height);
    width: var(--header-height);
    border-radius: 50%;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
}
.header .profile img:hover {
    transform: scale(1.1);
}
.header .profile .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: max-content;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 1;
}
.header .profile .dropdown a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color var(--transition-duration) ease;
}
.header .profile .dropdown a:hover {
    background-color: #f1f1f1;
}
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
}
@media (min-width: 768px) {
    .header .categories {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        flex: 1;
        justify-content: center;
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .header .logo {
        flex: 0 1 auto;
    }
}

/* User Management specific styles */
.main-content {
    padding: 20px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 42px 20px 42px;
}

.add-recruiter-btn {
    padding: 20px 30px;
    background-color: #b71c1c;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
    font-weight: var(--table-hover-font-weight);
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grant-admin-btn {
    background-color: #4caf50;
    color: white;
}

.revoke-admin-btn {
    background-color: #f44336;
    color: white;
}

.export-applications-btn {
    background-color: #2196f3;
    color: white;
}

/* Login specific styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
}

.login-form {
    background-color: var(--background-color);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
    width: 100%;
    max-width: 400px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--highlight-color);
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.login-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 16px;
    box-sizing: border-box;
}

.login-form .form-group input:focus {
    border-color: var(--highlight-color);
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease-in-out;
}

.login-form button:hover {
    background-color: #ff0000;
}

.login-form .register-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--highlight-color);
    text-decoration: none;
}

.login-form .register-link:hover {
    text-decoration: underline;
}